:root {
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--secondary-font);
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 200px 20px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2,
h3 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.hero h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h3 {
  font-size: 24px;
  font-weight: 400;
}

.project-intro {
  margin: 120px 60px;
}

.project-intro h2 {
  font-size: 64px;
}

.project-intro p {
  font-size: 16px;
  color: var(--secondary-color);
  opacity: 0.7;
  line-height: 30px;
}

.btn-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 18px 25px;
  color: var(--branding-color);
  font-size: 16px;
}

.btn-outline:hover {
  background: var(--branding-color);
  color: #fff;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
  color: #fff;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  background: #fff;
}
